@font-face{
    font-family: 'claranet';
    src: url('../fonte/AkzidenzGroteskPro-Light.ttf');
}


*{
    margin: 0;
}

main{
    display: flex;
    justify-content: space-between;
    font-family: 'claranet';
}


/* opções do menu */
.fundo{
    height: 100vh;
    width: 20%;
    background-color: #e00000;
    
}

.menu{
    text-align: center;
}

.fundo .menu p{
    color: #fff;
    margin: 30px 0 30px 0;
    font-size: 20px;
}

.usuario-img{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

input[type='file']{
    display: none;
}

.opcoes{
    padding: 0;
    /* margin: 0 7px 0 7px; */
    font-size: 20px;
}

.opcoes li{
    margin: 30px 0 30px 0;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 17px;
}

.opcoes li{
    background-image: linear-gradient(55deg, #fff, #fffafa);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
}

.opcoes li:hover{
    background-size: 100% 100%;
    background-position-x: left;
    color: #e00000;
}

.opcoes a{
    text-decoration: none;
}

.logo-claranet{
    padding-top: 100px;
}

/* reponsividade Home*/

@media screen and (max-width : 900px){
    .usuario-img, .logo-claranet{
        width: 80px;
    }
    .opcoes{
        padding: 0;
        margin: 0 0 0 5px;
        text-align: left;
        font-size: 15px;
    }
}






/* texto principal home */
.texto-fundo{
    display: none;
    height: 100vh;
    width: 80%;
}

.texto-principal{
    text-align: center;
    color: #e00000;
    margin-top: 150px;
}

.texto-principal h1{
    font-size: 40px;
    margin: 0 0 40px 0;
}

.texto-principal p{
    font-size: 20px;
}

.icone-fechado{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 340px;
}
.icone-aberto{
    /* Mudar icone  */



    display: none;
    cursor: pointer;
    position: absolute;
    top: 340px;
}






/* texto principal saldo */
.saldo-fundo{
    display: inline;
    height: 100vh;
    width: 70%;
}

.saldo-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.saldo-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.saldo-principal .h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}

.saldo-principal p{
    font-size: 20px;
    text-align: left;
    margin: 1% 0 0 30%;
}

.saldo-principal .valor{
    background-color: #34454E;
    margin: 1px 40% 0 30%; /*perdão pela gambiarra*/
    padding: 5px;
    color: #fff;
    width: 30%;
}





/* texto principal do extrato financeiro */
.extrato-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.extrato-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.extrato-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.extrato-principal h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}

.grupo-extrato{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10% 0 10%;
    font-size: 20px;
    padding-bottom: 15px;
}

.extrato-principal p{
    font-size: 20px;
    text-align: left;
    margin: 1% 0 0 30%;
}

.fundo-compra1,
.fundo-compra3,
.fundo-compra5,
.fundo-compra7{
    display: flex;
    justify-content: space-between;
    margin: 10px 25% 10px 25%;
    background-color: #34454E;
    padding: 10px;
    color: #fff;
}

.fundo-compra2,
.fundo-compra4,
.fundo-compra6{
    display: flex;
    justify-content: space-between;
    margin: 0 20% 0 30%;
    background-color: #34454E;
    padding: 10px;
    color: #fff;
}



/* Texto principal de transferência */

.transferência-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.transferência-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.transferência-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.transferência-principal h1{
    font-size: 40px;
    margin: 0 0 15px 0;
}

.transferência-principal h2{
    font-size: 25px;
    margin: 0 0 15px 0;
}

.bancos_transferencia,
.conta_transferencia{
    border: none;
    color: #fff;
    outline: none;
    background-color: #34454E;
    padding: 8px;
    font-family: 'claranet', Arial;
    font-size: 15px;
    padding: 10px 150px;
    margin: 2px 0px;
}

.transferencia-valores{
    display: flex;
    justify-content: center;
}
.form-2{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 191px;
}

.agencia_transferencia,
.conta_transferencia,
.valor_transferencia,
.titular_transferencia,
.botao_transferencia,
.cpf_transferencia{
    font-size: 15px;
    margin: 10px 0px;
    padding: 8px 5px;
    background-color: #34454E;
    border: none;
    color: #fff;
    font-family: 'claranet', sans-serif;
    outline: none;
}

.agencia_transferencia::placeholder,
.conta_transferencia::placeholder,
.valor_transferencia::placeholder,
.titular_transferencia::placeholder,
.cpf_transferencia::placeholder{
    color: #fff;
}

.botao_transferencia{
    border-radius: 15px;
    background-color: #e00000;
    cursor: pointer;
}


/* tirar a setinha do input number */
.agencia_transferencia[type=number]::-webkit-inner-spin-button,
.conta_transferencia[type=number]::-webkit-inner-spin-button,
.valor_transferencia[type=number]::-webkit-inner-spin-button,
.cpf_transferencia[type=number]::-webkit-inner-spin-button
{ 
    -webkit-appearance: none;
}









/* Texto principal do deposito */

.deposito-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.deposito-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.deposito-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.deposito-principal h1{
    font-size: 40px;
    margin: 0 0 15px 0;
}

.deposito-principal h2{
    font-size: 25px;
    margin: 0 0px 10px 0;
}



.depositar{
    font-size: 15px;
    margin: 10px 30px;
    padding: 8px 60px;
    background-color: #e00000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'claranet', sans-serif;
    outline: none;
    cursor: pointer;
}

.bancos_depositar,
.contas_depositar{
    border: none;
    color: #fff;
    outline: none;
    background-color: #34454E;
    padding: 8px;
    font-family: 'claranet', Arial;
    font-size: 15px;
    padding: 10px 150px;
    margin: 2px 0px;
    cursor: pointer;
    
}

.depositar-valores{
    display: flex;
    justify-content: center;
}
.form-2{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 191px;
}

.agencia_depositar,
.conta_depositar,
.valor_depositar,
.titular_depositar,
.botao_depositar,
.cpf_depositar,
.valor_deposito{
    font-size: 15px;
    margin: 10px 0px;
    padding: 8px 5px;
    background-color: #34454E;
    border: none;
    color: #fff;
    font-family: 'claranet', sans-serif;
    outline: none;
}
.botao_depositar{
    font-size: 15px;
    padding: 8px 60px;
    background-color: #e00000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'claranet', sans-serif;
    outline: none;
    cursor: pointer;
}

.agencia_depositar::placeholder,
.conta_depositar::placeholder,
.valor_depositar::placeholder,
.titular_depositar::placeholder,
.cpf_depositar::placeholder,
.valor_deposito::placeholder{
    color: #fff;
}



.agencia_depositar[type=number]::-webkit-inner-spin-button,
.conta_depositar[type=number]::-webkit-inner-spin-button,
.cpf_depositar[type=number]::-webkit-inner-spin-button,
.valor_depositar[type=number]::-webkit-inner-spin-button,
.valor_deposito[type=number]::-webkit-inner-spin-button
{ 
    -webkit-appearance: none;
}

















/* Texto principal do pix */

.pix-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.pix-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.pix-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.pix-principal h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}

.btn{
    border: none;
    padding: 10px;
    margin: 5px 15px 10px 0;
    width: 15%;
    background-color: #34454E;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

    background-image: linear-gradient(55deg, #fff, #fffafa);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;

}

.btnM{
    border: none;
    padding: 10px;
    margin: 5px 15px 5px 0;
    width: 31%;
    background-color: #34454E;
    color: #fff;
    font-size: 20px;
    cursor: pointer;


    background-image: linear-gradient(55deg, #fff, #fffafa);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
}

.btnM:hover,
.btn:hover{
    background-size: 100% 100%;
    background-position-x: left;
    color: #e00000;
}

.sem-fun{
    padding-top: 50px;
}







/* Texto principal do recarga de celular */


.recarga-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.recarga-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.recarga-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.recarga-principal h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}



.lista{
    margin: 0 0 10px 0;
    width: 35%;
    background-color: #34454E;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.valor, .numero{
    background-color: #34454E;
    border: none;
    padding: 10px;
    width: 15%;
    margin: 0 10px 0 10px;
    color: #fff;
    outline: none;
}

.valor::placeholder,
.numero::placeholder{
    color: #fff;
}

.valor[type=number]::-webkit-inner-spin-button,
.numero[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.valor[type=number],
.valor[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}


.btn-enviar{
    margin-top: 25px;
    border: none;
    width: 35%;
    padding: 10px;
    font-size: 20px;
    background-color: #e00000;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;

    background-image: linear-gradient(55deg, #fff, #fffafa);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
}

.btn-enviar:hover{
    background-size: 100% 100%;
    background-position-x: left;
    color: #e00000;
}





/* Texto principal do suporte */
.suporte-fundo{
    display: none;
    height: 100vh;
    width: 70%;
}

.suporte-principal{
    text-align: center;
    color: #e00000;
    margin-top: 50px;
}

.suporte-principal hr{
    margin: 0 25% 3% 25%;
    text-align: center;
    background-color: #e00000;
    border: 1px solid #e00000;
}

.suporte-principal h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}

.suporte-principal h2{
    text-align: center;
    font-size: 30px;
}


.formulario_suporte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.formulario_suporte, .caixa_suporte, .btn_suporte, .assunto_suporte,
.email_suporte, .nome_suporte{
    color: #fff;
    margin: 5px 150px 0 150px;
    padding: 10px;
    outline: none;
    border: 0;

}

.caixa_suporte, .btn_suporte, .assunto_suporte,
.email_suporte, .nome_suporte{
    background-color: #34454E;
}

.email_suporte::placeholder,
.caixa_suporte::placeholder,
.nome_suporte::placeholder,
.assunto_suporte::placeholder{
    color: #fff;
}



.btn_suporte{
    font-size: 18px;
    padding: 10px;
    margin-top: 15px;
    background: #e00000;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

/* responsividade suporte*/

@media screen and (max-width: 1400px){
    .formulario_suporte, .caixa_suporte, .btn_suporte, .assunto_suporte,
    .email_suporte, .nome_suporte{
    margin: 0 100px 0 100px;
    }

}

@media screen and (max-width: 1000px){
    .formulario_suporte, .caixa_suporte, .btn_suporte, .assunto_suporte,
    .email_suporte, .nome_suporte{
    margin: 0 50px 0 50px;
    }

}

@media screen and (max-width: 600px){
    .formulario_suporte, .caixa_suporte, .btn_suporte, .assunto_suporte,
    .email_suporte, .nome_suporte{
    margin: 0 10px 0 0;
    }

}



/* animação */

.area {
    position: absolute;
    background: transparent;
    background: -webkit-linear-gradient(to left, #e00000, #E21A22);
    width: 95%;
    height: 100vh;
    z-index:-1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(55deg, #e00000, #E21A22);;
    animation: animate 25s linear infinite;
    bottom: -150px;
    left: 500px;
    font-size: 15px;
    color: #fff;
    font-family: 'claranet', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.circles li:nth-child(1) {
    left: 30%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

 .circles li:nth-child(2) {
    left: 50%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
    animation-duration: 12s;
}


.circles li:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 12s;
    animation-duration: 16s;
}


.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}


.circles li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
}


.circles li:nth-child(6) {
    left: 75%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}



.circles li:nth-child(7) {
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
    animation-duration: 30s;
}


.circles li:nth-child(8) {
    left: 80%;
    width: 5px;
    height: 5px;
    animation-delay: 5s;
    animation-duration: 22s;
}


.circles li:nth-child(9) {
    left: 83%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 35s;
}


.circles li:nth-child(10) {
    left: 54%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
}


.circles li:nth-child(11) {
    left: 22%;
    width: 45px;
    height: 45px;
    animation-delay: 0s;
    animation-duration: 15s;
}


.circles li:nth-child(12) {
    left: 97%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 30s;
}


.circles li:nth-child(13) {
    left: 60%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 15s;
}


.circles li:nth-child(14) {
    left: 21%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 28s;
}


.circles li:nth-child(15) {
    left: 44%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 15s;
} 


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}



@media(max-width: 900px){
    .usuario-img{
        width: 80px;
        height: 80px;
    }
}


@media screen and (max-width: 700px){

    .fundo{
        display: none;
    }

    main{
        display: flex;
        justify-content: center;
    }

}